.Home {
  text-align: center;
}

.Home__body {
  height: calc(100vh - 44px - 54px);
  min-height: calc(100vh - 44px - 54px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  text-align: left;
}