.HomeAndPopup {
  height: 100%;
}

.Home {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hidden-home {
  display: none;
}

.Home__body {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  text-align: left;
}