.product {
  padding-left: 40px;
  margin-bottom: 20px;
}

.grey {
  background: lightgray;
  opacity: 0.5;
}

.product img {
  display: inline-block;
  width: 30%;
}

.product .info {
  font-size: 12px;
  display: inline-block;
  margin-left: 15%;
}

.message {
  text-align: left;
}
