.header {
  height: 44px;
  display: flex;
  line-height: 44px;
  text-align: center;
  padding-top: 10px;
}

.header img{
  width: 35px;
  height: 35px;
}

.header .icon {
  flex: 1;
}

.header .space-flex1 {
  flex: 1;
}

.header .space-flex2 {
  flex: 2;
}

.header .title {
  flex: 2;
  font-size: 20px;
}
