.button-with-color {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-with-color button {
  font-size: 15px;
  background-color: #FFEB3B;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 60%;
}

button.button-grey {
  background-color: #E2E2E2;
}
